.bg{
    -fx-background-color: transparent;
    /*-fx-background-color: #263238;*/
    /*-fx-border-width: 5;*/
    /*-fx-border-color: #80cbc4;*/
}

.btn{
    -fx-font-weight: bold;
    -fx-font-size: 20;
    -fx-min-width: 150;
    -fx-max-width: 300;
}

.title.label .text {
    -fx-font-size: 50px;
}

.btn:hover{
    -fx-effect: dropshadow(gaussian , #5f5f5f, 10, 0, 0, 0);
    -fx-background-color: #64646A;
    -fx-border-color: #959394;
    -fx-text-fill: #E2C089;
}